/* image container div for the decorative images */
.imgContainer {
  display: flex;
  flex-direction: column;
}

/* image of code snippet */
.code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  object-position: 50% 50%;
  border-radius: 50%;
  border: 5px solid var(--pale);
}

/* main paragraph of text */
.aboutText {
  background-color: var(--paleTransparent);
  border-radius: 30px;
}