.container {
  padding: 30px;
}

.headshot {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.brandStatement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}