:root {
  --pale: #f7b500;
  --paleTransparent: rgb(247, 181, 0, 0.1);
  --dark: #004445;
  --darkTransparent: rgb(0, 68, 69, 0.3);
}

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-color: var(--darkGrey); */
  padding: 0;
  margin: 0;
  color: var(--pale);
}

body {
  background-color: var(--dark);
}

header {
  background-image: url(./images/header.jpg);
  background-size: 100%;
  padding-top: 2px;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: medium;
  color: var(--dark);
  font-weight: 500;
  margin: 10px 40px 35px 40px;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
} 

.headline {
  background-color: transparent;
  padding: 10px;
  border: 2px solid var(--pale);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.portfolio {
  padding: 5px;
  border-radius: 10px;
}
.rowan {
  color: var(--dark);
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  background-color:var(--pale);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

.about, .portfolio {
  background-color: var(--dark);
}

.contact, .home, .projects{
  background-image: url(./images/background_branch.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--dark);
}