:root {
  --orange: rgb(247, 181, 0);
  --pale: rgb(247, 181, 0);
  --lightGreen: #2c786c;
  --dark: #004445;
  --darkGrey: #004445;
  --darkTransparent: rgb(33, 46, 46, 0.5);
}

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--darkGrey);
  padding: 0;
  margin: 0;
  color: var(--pale);
}

header {
  color: var(--pale);
  background-image: url(./images/header.jpg);
  background-size: 100%;
  padding-top: 2px;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: medium;
  color: var(--darkGrey);
  font-weight: 500;
  margin: 10px 40px 35px 40px;

  background-color: transparent;
  text-align: center;
  border-radius: 10px;
} 

.headline {
  background-color: transparent;
  padding: 10px;
  border: 3px solid var(--darkGrey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.portfolio {
  background-color: var(--darkGrey);
  padding: 5px;
  color: var(--pale);
  border-radius: 10px;
}
.rowan {
  color: var(--darkGrey);
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  background-color:var(--pale);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
}