:root {
  --orange: rgb(247, 181, 0);
  --pale: rgb(250, 245, 228);
  --lightGreen: #2c786c;
  --dark: #004445;
  --darkGrey: rgb(33, 46, 46);
  --darkTransparent: rgb(33, 46, 46, 0.5);
}

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--darkGrey);
  padding: 0;
  margin: 0;
  color: var(--pale);
}

header {
  color: var(--pale);
  background-image: url(./images/header.jpg);
  background-size: cover;
  padding-top: 3%;
  text-align: center;
}

h1 {
  color: var(--pale);
  font-weight: 500;
  margin: 10px 40px 100px 40px;
  padding: 10px;
  border: solid var(--pale) 3px;
  background-color: var(--darkTransparent);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
}